<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs.TypeScript.DefinitelyTyped" version="6.5.1" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.1" targetFramework="net452" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.5.1" targetFramework="net452" />
  <package id="Microsoft.TypeScript.Compiler" version="2.0.3" targetFramework="net452" developmentDependency="true" />
  <package id="typescript.TypeScript.DefinitelyTyped" version="0.1.6" targetFramework="net452" />
  <package id="typescript-services.TypeScript.DefinitelyTyped" version="0.2.0" targetFramework="net452" />
</packages>